<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/static/css_admin/style.css">
<!--[if lt IE 9]>
<script src="/static/js_admin/html5.js"></script>
<![endif]-->
<script src="/static/js_admin/jquery.js"></script>
<script src="/static/js_admin/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->
{(admin/header.html)}
{(admin/left.html)}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">商品列表示例</h2>
       <a href="/article/view" class="fr top_rt_btn add_icon">添加商品</a>
      </div>
      <section class="mtb">
       <select class="select">
        <option>下拉菜单</option>
        <option>菜单1</option>
       </select>
       <input type="text" class="textbox textbox_225" placeholder="输入产品关键词或产品货号..."/>
       <input type="button" value="查询" class="group_btn"/>
      </section>
      <table class="table">
       <tr>
        <th>ID</th>
        <th>标题</th>
        <th>标签</th>
        <th>评论数</th>
        <th>浏览数</th>
        <th>是否推荐</th>
        <th>创建时间</th>
        <th>操作</th>
       </tr>
       {% for _,val in pairs(list) do %}
       <tr>
        <td class="center">{{val.id}}</td>
        <td>{{val.title}}</td>
        <td class="center">{{val.tag_name}}</td>
        <td class="center">{{val.messages}}</td>
        <td class="center">{{val.viewNum}}</td>
        <td class="center">{%if tonumber(val.is_recommend)==1 then %}<a title="是" class="link_icon">&#89;</a>{% else %}<a title="否" class="link_icon">&#88;</a>{% end %}</td>
        <td class="center">{{val.create_time}}</td>
        <td class="center">
         <a href="/article/detail/{{val.id}}" title="预览" class="link_icon" target="_blank">&#118;</a>
         <a href="/article/view?id={{val.id}}" title="编辑" class="link_icon">&#101;</a>
         <a href="javascript:del('{{val.id}}');" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>
       {% end %}
      </table>
      {% local last_page = currentPage-1
         if currentPage <= 1 then
                last_page = 1
         end
         local next_page = currentPage+1
         if next_page > pageNum then
                 next_page = pageNum
         end
      %}
      <aside class="paging">
       <a href="/article/list?page=1">第一页</a>
       <a href="/article/list?page={{last_page}}">上一页</a>
       <a href="/article/list?page={{currentPage}}">{{currentPage}}</a>
       <a herf="/article/list?page={{next_page}}">下一页</a>
       <a erf="/article/list?page={{pageNUm}}">最后一页</a>
      </aside>
 </div>
</section>
<script>
   /* $(function(){

    })*/
    function del(id) {
        alert("come in");
        $.ajax({
            url:"/article/delete/"+id,
            type:"get",
            dataType:"json",
            success:function(data)
            {
                console.log(data);
                
                if(data.msg){
                    alert(data.msg);
                }
                if(data.success){
                    window.location.reload();
                }

            }
        })
    }
</script>
</body>
</html>
