<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/static/css_admin/style.css">
<!--[if lt IE 9]>
<script src="/static/js_admin/html5.js"></script>
<![endif]-->
<script src="/static/js_admin/jquery.js"></script>
<script src="/static/js_admin/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
{(admin/header.html)}
{(admin/left.html)}
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">文章</h2>
       <a class="fr top_rt_btn" href="/article/list">返回产品列表</a>
      </div>
     <section>
      <ul class="ulColumn2">
          <input type="hidden" id="id" value="{{id}}"/>
       <li>
        <span class="item_name" style="width:120px;">文章标题：</span>
        <input type="text" class="textbox textbox_295" name="title" id="title" value="{{article.title}}" placeholder="文章标题..."/>
        <span class="errorTips title_errorTips" style="display: none">请输入18个字符以内的文字...</span>
       </li>
       <li>
        <span class="item_name" style="width:120px;">简介：</span>
        <input type="text" class="textbox" name="abstarct" id="abstarct" value="{{article.abstarct}}" placeholder="简介..."/>
        <span class="errorTips abstarct_errorTips" style="display: none">请输入少于32个字符的简介...</span>
       </li>
       <li>
        <span class="item_name" style="width:120px;">标签：</span>
        <select class="select" name="tag" id="tag">
                <option value="" >选择标签</option>
            {% if #tags ~= 0 then %}
                {% for _,val in pairs(tags) do %}
                    <option value="{{val.id}}" {% if tonumber(article.tag) == tonumber(val.id)  then %} selected="selected" {% end %}>{{val.name}}</option>
                {% end %}
            {% end %}
        </select>
        <span class="errorTips tag_errorTips" style="display: none">请选择文章所属标签...</span>
       </li>

       <li>
        <span class="item_name" style="width:120px;">是否推荐：</span>
        <label class="single_selection"><input type="radio" name="is_recommend"  value="1" {% if type(article.is_recommend)=="string" and article.is_recommend=="1" then %}checked="checked" {% end %}/>是</label>
        <label class="single_selection"><input type="radio" name="is_recommend" value="0" {% if type(article.is_recommend)=="string" and article.is_recommend=="1" then %}{% else %}checked="checked"{% end %}/>否</label>
           <span class="errorTips recommend_errorTips" style="display: none">请选择文章所属标签...</span>
       </li>
      <!-- <li>
        <span class="item_name" style="width:120px;">上传图片：</span>
        <label class="uploadImg">
         <input type="file"/>
         <span>上传图片</span>
        </label>
       </li>-->
       <li>
        <span class="item_name" style="width:120px;">文章内容：</span>
        <script id="editor" type="text/plain" style="width:1024px;height:500px;margin-left:120px;margin-top:0;">{{article.content}}</script>
           <!--ueditor可删除下列信息-->
           <!--<div id="btns" style="margin-left:120px;margin-top:8px;">
            <div>
                <button onclick="getAllHtml()">获得整个html的内容</button>
                <button onclick="getContent()">获得内容</button>
                <button onclick="setContent()">写入内容</button>
                <button onclick="setContent(true)">追加内容</button>
                <button onclick="getContentTxt()">获得纯文本</button>
                <button onclick="getPlainTxt()">获得带格式的纯文本</button>
                <button onclick="hasContent()">判断是否有内容</button>
                <button onclick="setFocus()">使编辑器获得焦点</button>
                <button onmousedown="isFocus(event)">编辑器是否获得焦点</button>
                <button onmousedown="setblur(event)" >编辑器失去焦点</button>
        
            </div>
            <div>
                <button onclick="getText()">获得当前选中的文本</button>
                <button onclick="insertHtml()">插入给定的内容</button>
                <button id="enable" onclick="setEnabled()">可以编辑</button>
                <button onclick="setDisabled()">不可编辑</button>
                <button onclick=" UE.getEditor('editor').setHide()">隐藏编辑器</button>
                <button onclick=" UE.getEditor('editor').setShow()">显示编辑器</button>
                <button onclick=" UE.getEditor('editor').setHeight(300)">设置高度为300默认关闭了自动长高</button>
            </div>
        
            <div>
                <button onclick="getLocalData()" >获取草稿箱内容</button>
                <button onclick="clearLocalData()" >清空草稿箱</button>
            </div>
        
        </div>-->
           <span class="errorTips content_errorTips" style="display: none">请选择文章所属标签...</span>
       </li>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn"/>
       </li>
      </ul>
     </section>
 </div>
</section>
<script src="/static/js_admin/ueditor.config.js"></script>
<script src="/static/js_admin/ueditor.all.min.js"> </script>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');


    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        return UE.getEditor('editor').getContent();
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        return UE.getEditor('editor').getContentTxt();

    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }

    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("已清空草稿箱")
    }
    function removeHTMLTag(str) {
        str = str.replace(/<\/?[^>]*>/g,''); //去除HTML tag
        str = str.replace(/[ | ]*\n/g,'\n'); //去除行尾空白
        //str = str.replace(/\n[\s| | ]*\r/g,'\n'); //去除多余空行
        str=str.replace(/ /ig,'');//去掉
        return str;
    }

    $(document).ready(function(){
        $(".link_btn").click(function(){
            var title=$("#title").val();
            var abstarct = $("#abstarct").val();
            var tag = $("#tag").val();
            var is_recommend = $("input[name=is_recommend]:checked").val();
            var content = getContentTxt();
            var id = $("#id").val()
            if(!title || title.length > 32){
                $(".title_errorTips").show();
                return false;
            }

            if(!abstarct || abstarct.length > 64)
            {
                $(".abstarct_errorTips").show();
                return false;
            }

            if(!tag){
                $(".tag_errorTips").show();
                return false;
            }

            if(!content){
                $(".content_errorTips").show();
                return false;
            }
            alert(title);
            alert(abstarct);
            alert(tag);
            alert(is_recommend);
            alert(id);
            $.ajax({
                url:"/article/update",
                type:"post",
                data:{
                    title:title,
                    abstarct:abstarct,
                    tag:tag,
                    is_recommend:is_recommend,
                    content:content,
                    id:id
                },
                dataType:"json",
                success:function(data){
                    console.log(data);
                }
            });
        })
    })
</script>
</body>
</html>
