<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/static/css_admin/style.css">
<!--[if lt IE 9]>
<script src="/static/js_admin/html5.js"></script>
<![endif]-->
<script src="/static/js_admin/jquery.js"></script>
<script src="/static/js_admin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/vue.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
{(admin/header.html)}
<!--aside nav-->
{(admin/left.html)}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content" id="table">
      <div class="page_title">
       <h2 class="fl">会员{%if flag=='update' then %}更新{% elseif flag=='add' then%}添加{% else %}详情{% end %}</h2>
       {% if flag=='update' and id then %}
       <a href="/ause/vimg/{{id}}?flag=update" class="fr top_rt_btn money_icon">修改图片</a>
       {% end %}
      </div>
     <form action="/ause/{%if flag=='add' then %}add{% elseif flag=='update' then %}update{% end %}" method="post">
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:120px;">会员名称：</span>
        <input type="text" class="textbox textbox_225" name="username" value="{% if data then %}{{data[1].username}}{% end %}" placeholder="会员账号..."/>
        <span class="errorTips" v-if="is_username===true" v-html="usernameErr"></span>
       </li>
       <li>
        <span class="item_name" style="width:120px;">真实姓名：</span>
        <input type="text" class="textbox textbox_225" name="name" value="{% if data then %}{{data[1].name}}{% end %}"  placeholder="会员账号..."/>
        <span class="errorTips" v-if="is_name===true" v-html="nameErr"></span>
       </li>
       <li>
        <span class="item_name" style="width:120px;">登陆密码：</span>
        <input type="password" class="textbox textbox_225" name="password" value="{% if data then %}{{data[1].password}}{% end %}" placeholder="会员密码..."/>
        <span class="errorTips" v-if="is_pwd===true" v-html="passwordErr"></span>
       </li>
       <li>
        <span class="item_name" style="width:120px;">会员等级：</span>
        <select class="select" name="grade">
         <option value="1">普通会员</option>
         <option value="2">高级会员</option>
         <option value="3">超级会员</option>
        </select>
       </li>
       <li>
        <span class="item_name" style="width:120px;">电子邮箱：</span>
        <input type="email" class="textbox textbox_225" name="email"  value="{% if data then %}{{data[1].email}}{% end %}" placeholder="电子邮件地址..."/>
        <span class="errorTips" v-if="is_email===true" v-html="emialErr"></span>
       </li>
       <li>
        <span class="item_name" style="width:120px;">手机号码：</span>
        <input type="tel" class="textbox textbox_225" name="mobile" value="{% if data then %}{{data[1].mobile}}{% end %}" placeholder="手机号码..."/>
        <span class="errorTips" v-if="is_mobile===true" v-html="mobileErr"></span>
       </li>
       {% if id then %}
       <input type="hidden" name="id" value="{{id}}">
       {% end %}
       {% if flag=='add' or flag=='update' then%}
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" value="{%if flag=='update' then %}更新{% elseif flag=='add' then%}添加{% end %}"/>
       </li>
       {% end %}
      </ul>
      </form>
 </div>
</section>
</body>
<script>
 var app = new Vue({
    el:"#table",
    data:{
     'is_username':false,
     'is_name':false,
     'is_pwd':false,
     'is_email':false,
     'is_mobile':false,
     'usernameErr':'',
     'nameErr':'',
     'passwordErr':'',
     'emailErr':'',
     'mobileErr':'',
    },

    /*watch:{
     username:function(val,oldVal)
     {
        var PATRN = '/^[a-zA-Z]{1}[a-zA-Z0-9]{4,19}$/i';
        console.log(this.is_username);
        if(!PATRN.test(val)){
         console.log(PATRN.test(val));
         this.is_username=true;
        }else{
         this.is_username=false;
        }
     }
    },
    methods:{
     'cusername':function(){
          var PATRN = '/^[a-zA-Z]{1}[a-zA-Z0-9]{4,19}$/i';
          console.log(this.is_username);
          if(!this.username.match(PATRN)){
           console.log(this.username.match(PATRN));
           this.is_username=true;
          }else{
           this.is_username=false;
          }
     }
    }
     */

 })
 var errFlag = "{{errFlag}}";
 var errMsg = "{{errMsg}}"
 if(errFlag=='username'){
  app.is_username = true;
  app.usernameErr = errMsg;

 }
 if(errFlag == 'email')
 {
  app.is_email = true;
  app.emailErr = errMsg;
 }
 if(errFlag == 'mobile'){
  app.is_mobile = true;
  app.mobileErr = errMsg;
 }

 if(errFlag == name){
  app.is_name = true;
  app.nameErr = errMsg;
 }

 /*app.$watch('username',function(){
  console.log( this.username)
 },{deep:true,immediate: true})*/
</script>
</html>
