<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/static/css_admin/style.css">
<!--[if lt IE 9]>
<script src="/static/js_admin/html5.js"></script>
<![endif]-->
<script src="/static/js_admin/jquery.js"></script>
<script src="/static/js_admin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/lodash-3.10.1.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
{(admin/header.html,{user=user})}
{(admin/left.html)}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content" id="app">
      <div class="page_title">
       <h2 class="fl">会员列表</h2>
       <a href="/ause/view?flag=add" class="fr top_rt_btn add_icon">添加新会员</a>
      </div>
      <section class="mtb">
       <select class="select">
        <option>会员等级</option>
        <option>普通会员</option>
        <option>高级会员</option>
       </select>
       <input type="text" class="textbox textbox_225" placeholder="输入会员号/手机/电子邮件查询..."/>
       <input type="button" value="查询" class="group_btn"/>
      </section>
      <table class="table">
       <tr>
        <th>Id</th>
        <th>会员头像</th>
        <th>会员</th>
        <th>姓名</th>
        <th>手机号码</th>
        <th>电子邮件</th>
        <th>验证</th>
        <th>会员等级</th>
        <th>操作</th>
       </tr>
       {% if data and type(data)=='table' and #data > 0 then%}
         {% for _,v in pairs(data) do%}
         <tr>
          <td class="center">{{v.id}}</td>
          <td class="center"><img src="/static/img/{{v.images}}" width="50" height="50"/></td>
          <td>{{v.username}}</td>
          <td>{{v.name}}</td>
          <td class="center">{{v.mobile}}</td>
          <td class="center">{{v.email}}</td>
          <td class="center"><a href="javascript:validate('{{v.id}}');" data-original="{{v.validate}}" title="{% if tonumber(v.validate)==1 then %}已验证{% else %}未验证{% end %}" class="link_icon" id="validate_{{v.id}}">{% if tonumber(v.validate)==1 then %}&#89;{% else %}&#88;{% end %}</a></td>
          <td class="center">{% if v.grade == 3 then %}超级会员{% elseif v.grade==2 then %}高级会员{% else %}普通会员{% end %}</td>
          <td class="center">
           <a href="/ause/view?flag=update&id={{v.id}}" title="编辑" class="link_icon">&#101;</a>
           <a href="javascript:del('{{v.id}}');" title="删除" class="link_icon">&#100;</a>
          </td>
         </tr>
         {% end %}
       {% end %}
       <!--<tr>
        <td class="center">002</td>
        <td class="center"><img src="upload/user_001.png" width="50" height="50"/></td>
        <td>DeathGhost02</td>
        <td class="center">15800000000</td>
        <td class="center">232650413@sina.cn</td>
        <td class="center"><a title="未验证" class="link_icon">&#88;</a></td>
        <td class="center">高级会员</td>
        <td class="center">
         <a href="user_detail.html" title="编辑" class="link_icon">&#101;</a>
         <a href="#" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>-->
      </table>
      <aside class="paging">
       <a>第一页</a>
       <a>1</a>
       <a>2</a>
       <a>3</a>
       <a>…</a>
       <a>1004</a>
       <a>最后一页</a>
      </aside>
 </div>
</section>
</body>
<script>
    function validate(id) {
        var vid = parseInt(id);
        if(vid){
            var valid = $("#validate_"+vid).attr("data-original");
        axios.post('/ause/validate',{id:vid,validate:valid},{headers: {'X-Requested-With': 'XMLHttpRequest'}})
                .then(function (response) {
                    console.log(response);
                    if(parseInt(response.data.flag)){
                        $("#validate_"+vid).attr("title","已验证");
                        $("#validate_"+vid).html("&#89;");
                        $("#validate_"+vid).attr("data-original",'1')
                    }else{
                        $("#validate_"+vid).attr("title","未验证");
                        $("#validate_"+vid).html("&#88;");
                        $("#validate_"+vid).attr("data-original",'0')
                    }
                })
                .catch(function (error) {
                    var err = 'Error! Could not reach the API. ' + error;
                    console.log(err);
                });
        }
    }
    /*function validate(id) {
        var vid = parseInt(id);
        if(vid){
            var valid = $("#validate_"+vid).attr("data-original");
            $.ajax({
                url:"/ause/validate",
                type:"post",
                data:{id:id,validate:valid},
                dataType:"json",
                success:function(data){
                    console.log(data);
                }
            })
        }
    }*/

    function del(id){
        var vid = parseInt(id);
        if(vid){
            axios.get('/ause/delete/'+vid,{headers: {'X-Requested-With': 'XMLHttpRequest'}})
                    .then(function (response) {
                        console.log(response);
                        window.location.reload();
                    })
                    .catch(function (error) {
                        var err = 'Error! Could not reach the API. ' + error;
                        console.log(err);
                    });
        }
    }
</script>
</html>
