<div class="widget widget_sentence">
    <h3>统计</h3>
    <div class="widget-sentence-content">
        <ul class="plinks ptags">
            <li><a href="/" title="移动统计" draggable="false">移动统计 <span class="badge">1</span></a></li>
            <li><a href="/" title="404" draggable="false">404 <span class="badge">1</span></a></li>
            <li><a href="/" title="VS2010" draggable="false">VS2010 <span class="badge">1</span></a></li>
            <li><a href="/" title="杀毒软件" draggable="false">杀毒软件 <span class="badge">1</span></a></li>
            <li><a href="/" title="html标签" draggable="false">html标签 <span class="badge">1</span></a></li>
            <li><a href="/" title="循环" draggable="false">循环 <span class="badge">2</span></a></li>
            <li><a href="/" title="百度统计" draggable="false">百度统计 <span class="badge">2</span></a></li>
            <li><a href="/" title="sql" draggable="false">sql <span class="badge">6</span></a></li>
        </ul>
    </div>
</div>