<div class="widget widget_hot">
    <h3>推荐社区</h3>
    <ul>
        <li><a title="ruby" href="https://ruby-china.org" ><span class="thumbnail">
                    <img class="thumb" data-original="/static/community/ruby-china.png" src="/static/community/ruby-china.png" alt="ruby"  style="display: block;width:120px;margin: 4px 0;">
                </span><span class="text">Ruby 社区</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
                    2016-11-01
                </span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
        <li><a title="CNode社区" href="http://cnodejs.org" ><span class="thumbnail">
                    <img class="thumb" data-original="/static/community/cnodejs.png" src="/static/community/cnodejs.png" alt="cnode"  style="display: block;">
                </span><span class="text">NODEJS 社区</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
                    2016-11-01
                </span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
        <li><a title="GoLang 中国" href="http://golangtc.com/" ><span class="thumbnail">
                    <img class="thumb" data-original="/static/community/golang.png" src="/static/community/golang.png" alt="golang 中国"  style="display: block;">
                </span><span class="text">GoLang 中国</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
                    2016-11-01
                </span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
        <li><a title="Segment" href="http://segmentfault.com" ><span class="thumbnail">
                    <img class="thumb" data-original="/static/community/segmentfault.png" src="/static/community/segmentfault.png" alt="Segmentfault"  style="display: block;">
                </span><span class="text">Segmentfault</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
                    2016-11-01
                </span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
        <li><a title="OpenResty最佳实践电子书" href="https://moonbingbing.gitbooks.io/openresty-best-practices/content/" ><span class="thumbnail">
                    <img class="thumb" data-original="/static/community/openresty.png" src="/static/community/openresty.png" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
                </span><span class="text">OpenResty最佳实践电子书</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
                    2016-11-01
                </span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
        <li><a title="本站框架 Lor Framework" href="https://github.com/sumory/lor" ><span class="thumbnail">
                    <img class="thumb" data-original="/static/community/openresty.png" src="/static/community/openresty.png" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
                </span><span class="text">本站框架 Lor Framework</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
                    2016-11-01
                </span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
    </ul>
</div>